---
apiVersion: v1
clusters:
- cluster:
    {{ item.certificate_authority_field }}: {{ item.certificate_authority }}
    server: https://{{ item.server }}:6443
  name: kubernetes-the-hard-way
contexts:
- context:
    cluster: kubernetes-the-hard-way
    user: {{ item.user }}
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: {{ item.user }}
  user:
    {{ item.client_certificate_field }}: {{ item.client_certificate }}
    {{ item.client_key_field }}: {{ item.client_key }}

...